<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->

<div class="jumbotron">
        <h1>Welcome to my app!</h1>
        Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary" %>
</div>
